<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h2>Workout List</h2>
<a href="/">Home</a> |
<a href="/workouts/new">Add Workout</a>

<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Distance (m)</th>
        <th>Split</th>
        <th>Stroke Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="w : ${workouts}">
        <td th:text="${w.date}">2026-01-01</td>
        <td th:text="${w.distance}">2000</td>
        <td th:text="${w.split}">1:52</td>
        <td th:text="${w.strokeRate}">28</td>
    </tr>
    </tbody>
</table>
</body>
</html>
